@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to this web app hosted on an Azure Container Instance</h1>
    <p>This is a new version of the image that has just been published.</a>.</p>
</div>
