<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/bfa5a4b9-6992-4ebd-a737-d73392fe7dba/resourceGroups/alexeirg/providers/Microsoft.ContainerRegistry/registries/alexeicontainerregistry</ResourceId>
    <ResourceName>alexeicontainerregistry</ResourceName>
    <ResourceGroup>alexeirg</ResourceGroup>
    <Subscription>Visual Studio Professional Subscription</Subscription>
    <RegistryUrl>https://alexeicontainerregistry.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>28740f4e-6bea-4bd7-b9bf-cbc8eb645818</ProjectGuid>
  </PropertyGroup>
</Project>